<!DOCTYPE html>
{% load static %} 
<html lang="en">
<head>
    {% include "base/head.html" %}
</head>
<body>
    {% include "base/header.html" %}

    <div class="container">
        <div class="profile-main" style="display: flex;">
            <div class="box-left-1" style="height:auto;width: 20%; ">
                <div class="in4-avt-content" style="display: flex;">
                    <div class="in4-avt">
                        <img src="/Page-Admin/img/mpvc.png"class="i4-img" alt=""style="">
                    </div>               
                    <div class="in4-avt-shopname">
                        LDstore
                    </div>
                </div>     
                <div class="in4-sidebar">
                    <ul class="in4-myacc-detail">
                        <div class="i4-myacc">Tài khoản của tôi</div>
                        <li> <a href="user-account.html" class="hoso-hv" style="color:#f6003c;">Hồ sơ</a></li>
                        <li><a href="password.html" class="dmk-hv">Đổi mật khẩu</a></li>
                    </ul>
                </div>    
            </div>
            <div class="wrap-box-right-2" style="width:980px;">
                <div class="box-right-2" style="height: auto; ">
                    <div class="i4-title-side" >
                        <h1 style="padding-bottom: 5px;text-transform: capitalize;font-weight: 500;font-size: 20px;">Đổi Email</h1>
                        <p style="font-size: 14px;">Để cập nhật email mới , vui lòng xác nhận bằng cách nhập mật khẩu</p>
                    </div>
                    <div class="wrap-box-right-content email-change-pd" style="display: flex;">
                        <div class="wrap-box-right-content-1" style="width:80%;">
                            <div class="user-name-wrap" style="display: flex;" >
                                <div class="user-name-label"><label for="">Email</label></div>
                                <div class="user-name-console">{{ request.user.email }}</div>
                            </div>
                            <div class="name-wrap" style="display: flex;">
                                <div class="name-label"><label for="">Tên</label></div>
                                <div class="name-input" style="width:50%"><input type="text" style="width:80%;padding: 5px; "></div>
                            </div>
                            <div class="save-i4-button">
                                <button><a href="#">Lưu</a></button>
                            </div>
                        </div>
                        <div class="box-right-2-avt"style="display:flex;">
                            <div class="box-right-2-avt-wrap">
                        </div>

                    </div>
                      
                </div>
            </div>
            
        </div>
    </div>




    <footer class="bg-second">
        <div class="container">
            <div class="row">
                <div class="col-3 col-md-6">
                    <h3 class="footer-head">Sản phẩm</h3>
                    <ul class="menu">
                        <li><a href="#"><i class="fa-solid fa-book"></i>Tiểu thuyết</a></li>
                        <li><a href="#"><i class="fa-solid fa-book"></i>Tâm lý</a></li>
                        <li><a href="#"><i class="fa-solid fa-book"></i>Kinh dị</a></li>
                        <li><a href="#"><i class="fa-solid fa-book"></i>Truyện tranh</a></li>
                        <li><a href="#"><i class="fa-solid fa-book"></i>Tình cảm</a></li>
                    </ul>
                </div>
                <div class="col-3 col-md-6">
                    <h3 class="footer-head">Dịch vụ</h3>
                    <ul class="menu">
                        <li><a href="#"><i class="fa-solid fa-ticket"></i>Khuyến mãi</a></li>
                        <li><a href="#"><i class="fa-solid fa-truck-fast"></i>Chính sách vận chuyển</a></li>
                        <li><a href="#"><i class="fa-solid fa-person"></i>Chính sách hỗ trợ khách hàng</a></li>
                        <li><a href="#"><i class="fa-solid fa-lock"></i>Chính sách bảo mật</a></li>
                    </ul>
                </div>
                <div class="col-3 col-md-6">
                    <h3 class="footer-head">Hỗ trợ</h3>
                    <ul class="menu">
                        <li><a href="#"><i class="fa-solid fa-phone"></i>02871059999</a></li>
                        <li><a href="#"><i class="fa-solid fa-location-dot"></i>Cơ sở 1: 233A Phan Văn Trị, P.11, Q. Bình Thạnh, TP. HCM</a></li>
                        <li><a href="#"><i class="fa-solid fa-location-dot"></i>Cơ sở 2: 45 Nguyễn Khắc Nhu, P. Cô Giang, Q.1, TP. HCM</a></li>
                        <li><a href="#"><i class="fa-solid fa-location-dot"></i>Cơ sở 3: 69/68 Đặng Thùy Trâm, P. 13, Q. Bình Thạnh, TP. HCM</a></li>
                    </ul>
                </div>
                <div class="col-3 col-md-6 col-sm-12">
                    <div class="contact" style="transform: translateY(-3rem);">
                        <img src="./images/logoVLU.png" alt="">
                        <h3 class="contact-header">
                            LDStore
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">Copyright LDStore since 2022</div>
</footer>
</body>

