<!DOCTYPE html>
{% load static %}   
<html lang="en">
    {% include "base/head.html" %}
<body>
    {% include "base/header.html" %}

    <div class="container">
        <div class="profile-main" style="display: flex;">
            <div class="box-left-1" style="height:auto;width: 20%; ">
                <div class="in4-avt-content" style="display: flex;">
                    <div class="in4-avt">
                        <img src="/Page-Admin/img/mpvc.png"class="i4-img" alt=""style="">
                    </div>               
                    <div class="in4-avt-shopname">
                        LDstore
                    </div>
                </div>     
                <div class="in4-sidebar">
                    <ul class="in4-myacc-detail">
                        <div class="i4-myacc">Tài khoản của tôi</div>
                        <li> <a href="{% url 'profile' %}" class="hoso-hv"">Hồ sơ</a></li>
                        <li><a href="{% url 'change-password' %}" class="dmk-hv" style="color:#f6003c;">Đổi mật khẩu</a></li>
                    </ul>
                </div>    
            </div>
            <div class="wrap-box-right-2" style="width:980px;">
                <div class="box-right-2" style="height: auto; ">
                    <div class="i4-title-side" >
                        <h1 style="padding-bottom: 5px;text-transform: capitalize;font-weight: 500;font-size: 20px;">Đổi mật khẩu</h1>
                        <p style="font-size: 14px;">Để bảo mật tài khoản, vui lòng không chia sẻ mật khẩu cho người khác</p>
                    </div>
                    <div class="wrap-box-right-content email-change-pd" style="display: flex;">
                        <div class="wrap-box-right-content-1" style="width:80%;">
                            <div class="name-wrap" style="display: flex;">
                                <div class="name-label"><label for="">Mật khẩu hiện tại</label></div>
                                <div class="name-input" style="width:50%"><input type="text" style="width:80%;padding: 5px; "></div>
                            </div>
                            <div class="name-wrap" style="display: flex;">
                                <div class="name-label"><label for="">Mật khẩu mới</label></div>
                                <div class="name-input" style="width:50%"><input type="text" style="width:80%;padding: 5px; "></div>
                            </div>
                            <div class="name-wrap" style="display: flex;">
                                <div class="name-label"><label for="">Nhập lại mật khẩu</label></div>
                                <div class="name-input" style="width:50%"><input type="text" style="width:80%;padding: 5px; "></div>
                            </div>
                            <div class="save-i4-button">
                                <button><a href="#">Lưu</a></button>
                            </div>
                        </div>
                        <div class="box-right-2-avt"style="display:flex;">
                            <div class="box-right-2-avt-wrap">
                        </div>

                    </div>
                      
                </div>
            </div>
            
        </div>
    </div>




    {% include "base/footer.html" %}
</body>

