{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <!-- favicon -->
  <link rel="shortcut icon" href="{% static 'user/img/logo.png' %}" type="image/png">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Sign In</title>
  <link rel="stylesheet" href='{% static "user/css/signin.css" %}' type="text/css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
  <div class="signup">
    <div class="logo">
      <img src="{% static 'user/img/logo.png' %}" alt="logo" style="width: 100px; height: 100px;">
    </div>
    <h1 class="signup-heading">Đăng nhập</h1>
    <!-- <button class="signup-social">
      <i class="fa-brands fa-microsoft" style="font-size: 30px;"></i>
      <span class="signup-social-text">Sign up with Microsoft Office</span>
    </button>
    <div class="signup-or"><span>Or</span></div> -->
    <form id="signin" method="post" action="{% url 'signin' %}" class="signup-form" autocomplete="off">
      {% csrf_token %}
      <label for="fullname" class="signup-label">Username</label>
      <input type="text" id="fullname" class="signup-input" name="username" placeholder="username" required>
      <label for="text" class="signup-label">Password</label>
      <div class="passwd-box">
        <input type="password" id="myInput" class="signup-input" name="password" placeholder="Password" required>
        <div class="eye-passwd" onclick="myFunction()"> 
          <i id="hide1" class="fa-solid fa-eye"></i>
          <i id="hide2" class="fa-solid fa-eye-slash"></i>
        </div>
      </div>
      {% if errors %}
        {{ errors }}
      {% endif %}
      <button class="signup-submit">
        <a onclick="document.getElementById('signin').submit();">
          Đăng nhập
        </a>
      </button>
    </form>
    <p class="signup-already">
      <span>Not have an account ?</span>
      <a href="{% url 'signup' %}" class="signup-login-link">Sign up</a>
    </p>
  </div>
  
  <script src="{% static 'user/js/hid-hidden-passwd.js' %}"></script>
</body>

</html>