<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="images/logo.png" type="image/png">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&display=swap" rel="stylesheet">
    <!-- boxicons -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- app css -->
    <link rel="stylesheet" href="./css/grid.css">
    <link rel="stylesheet" href="./css/app.css">
</head>
<body>
    <header>
        <!-- mobile menu -->
        <div class="mobile-menu bg-second">
            <a href="#" class="mb-logo">LDStore</a>
            <span class="mb-menu-toggle" id="mb-menu-toggle">
                <i class='bx bx-menu'></i>
            </span>
        </div>
        <!-- end mobile menu -->
        <!-- main header -->
        <div class="header-wrapper" id="header-wrapper">
            <span class="mb-menu-toggle mb-menu-close" id="mb-menu-close">
                <i class='bx bx-x'></i>
            </span>
            <!-- mid header -->
            <div class="bg-main">
                <div class="mid-header container">
                    <img src="./images/favicon3.png" alt="">
                    <a href="#" class="logo">LDStore</a>
                    <div class="search">
                        <input type="text" placeholder="Tìm kiếm">
                    </div>
                    <button type="button" class="search-icon-custom">
                        <i class='bx bx-search-alt'></i>
                    </button>
                    <ul class="user-menu">
                        <li><a href="sign-in.html"><i class='bx bx-user-circle'></i></a></li>
                        <li><a href="shopping-cart.html"><i class='bx bx-cart'></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
        <!-- end header -->
        <div class="wrapper-all">
            <!-- header -->
            <!-- title bar box -->
            
            <div class="container">
                <div class="addr-title">Delivery address</div>
                <div class="bg-addr">
                    <div class="line-through" style="width: 100%;height: 3px; background-color: #fff;"></div>
                    <div class="addr-detail">Hong Vinh Dat (+84) 384173970</div>
                    <div class="addr-detail-addr">27/1/9 Đường số 9 , Phường 16 , Quận Gò Vấp ,TP.Hồ Chí Minh</div>
                    <div class="addr-default">Default</div>
                    <div class="addr-change">change</div>
                </div>

                <div class="box-order">
                    <div class="box-order-product-name">Sản phẩm</div>
                    <div class="box-order-product-categories">Thể loại</div>
                    <div class="box-order-price">Giá</div>
                    <div class="box-order-quantity">Số lượng</div>
                    <div class="box-order-total">Thành tiền</div>
                </div>
            </div>
            <!-- end title bar box -->


            <!-- begin detail shopping cart -->
            
            <div class="container">
                <div class="inline-box">
                    <div class="inline-favorite-brand">Mall</div>
                    <div class="inline-shop-name">LDStore</div>
                    <div class="inline-mess">Chat Now</div>
                </div>
                <div class="shopping-cart-detail-box">
                    <div class="product-shopping-cart-card">
                        <div class="wrap-checkbox-img">
                            <div class="product-cart-img" style="background-image: url(./images/tri-tue-xuc-cam.png);">
                            </div>
                            <div class="product-cart-name"><a href="#">[SKU-01]trí tuệ xúc cảm</a></div>
                        </div>
                        <div class="product-cart-categories">tình cảm</div>
                        <div class="product-cart-price">
                            <div class="product-cart-old-price">60.000Đ</div>
                            <div class="product-cart-old-new-price">55.000Đ</div>
                        </div>
                        <div class="product-cart-quantity">
                            <div class="product-quantity-wrapper">
                                <span class="product-quantity-btn-minus">
                                    <i class="bx bx-minus"></i>
                                </span>
                                <input type="text" value="1" class="product-quantity"></input>
                                <span class="product-quantity-btn-plus">
                                    <i class="bx bx-plus"></i>
                                </span>
                            </div>
                        </div>
                        <div class="product-cart-total">55.000Đ</div>
                    </div>
                </div>
            </div>
            <!-- end detail shopping cart -->
            <div class="container">
                <div class="payment-cart-voucher">
                    <div class="payment-cart-voucher-title">Shop's voucher</div>
                    <div class="payment-cart-voucher-choose">
                        <a href="#">Choose voucher</a>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="wrapper-note-box">
                    <div class="note-box">
                        <div class="note-box-message">Message:</div>
                        <div class="note-box-message-shop"><input type="text" name="" id="" placeholder="Luu y cho nguoi ban...."></div>
                    </div>
                    <div class="note-shipping-option">
                        <div class="note-shipping-title">shipping options:</div>
                        <div class="note-shipping-name">
                            <div class="note-shipping-name-detail-1">Van chuyen nhanh quoc te</div>
                            <div class="note-shipping-name-detail-2">Standard Express</div>
                            <div class="note-shipping-name-detail-3">Nhan hang vao 21th04 - 12th05</div>
                            <div class="note-shipping-name-detail-4">(Do anh huong boi Covid19 , thoi gian giao hang quoc te co the keo dai hon du kien)</div>
                        </div>
                        <div class="note-shipping-change">Change</div>
                        <div class="note-shipping-price">21.000Đ</div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="note-shipping-order-total">
                    <div class="order-total-text">order total(1 item):</div>
                    <div class="order-total-price">76.000Đ</div>
                </div>
            </div>
            <div class="container">
                <div class="payment-method">
                    <div class="payment-method-title">payment method</div>
                    <button class="payment-method-button1">Credit Cards</button>
                    <button class="payment-method-button-2">Cash on delivery</button>
                </div>
 
            </div>
        </div>
        
        <footer class="bg-second">
            <div class="container">
                <div class="row">
                    <div class="col-3 col-md-6">
                        <h3 class="footer-head">Sản phẩm</h3>
                        <ul class="menu">
                            <li><a href="#">Help center</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">product help</a></li>
                            <li><a href="#">warranty</a></li>
                            <li><a href="#">order status</a></li>
                        </ul>
                    </div>
                    <div class="col-3 col-md-6">
                        <h3 class="footer-head">Dịch vụ</h3>
                        <ul class="menu">
                            <li><a href="#">Help center</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">product help</a></li>
                            <li><a href="#">warranty</a></li>
                            <li><a href="#">order status</a></li>
                        </ul>
                    </div>
                    <div class="col-3 col-md-6">
                        <h3 class="footer-head">Hỗ trợ</h3>
                        <ul class="menu">
                            <li><a href="#">Help center</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">product help</a></li>
                            <li><a href="#">warranty</a></li>
                            <li><a href="#">order status</a></li>
                        </ul>
                    </div>
                    <div class="col-3 col-md-6 col-sm-12">
                        <div class="contact">
                            <h3 class="contact-header">
                                LDStore
                            </h3>
                            <ul class="contact-socials">
                                <li><a href="#">
                                        <i class='bx bxl-facebook-circle'></i>
                                    </a></li>
                                <li><a href="#">
                                        <i class='bx bxl-instagram-alt'></i>
                                    </a></li>
                                <li><a href="#">
                                        <i class='bx bxl-youtube'></i>
                                    </a></li>
                                <li><a href="#">
                                        <i class='bx bxl-twitter'></i>
                                    </a></li>
                            </ul>
                        </div>
                        <div class="subscribe">
                            <input type="email" placeholder="ENTER YOUR EMAIL">
                            <button>subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">Copyright LDStore since 2022</div>
        </footer>
        <script src="./js/app.js"></script>
        <script src="./js/product-detail.js"></script>
    </body>