<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% include "base/head.html" %}
</head>
<body>
    {% include "base/header.html" %}

    <div class="wrapper-all">
            <!-- header -->

            <!-- title bar box -->

            <div class="container">
                <div class="box-order">
                    <div class="checkbox-custom">
                        <!-- <input type="checkbox"></input> -->
                    </div>
                    <div class="box-order-product-name">Sản phẩm</div>
                    <div class="box-order-product-categories">Thể loại</div>
                    <div class="box-order-price">Giá</div>
                    <div class="box-order-quantity">Số lượng</div>
                    <div class="box-order-total">Thành tiền</div>
                    <div class="box-order-actions">Thao tác</div>
                </div>
            </div>
            <!-- end title bar box -->

            <!-- begin shop name -->

            <div class="container">
                <div class="shop-name-box">
                    <div class="checkbox-custom">
                        <!-- <input type="checkbox"></input> -->
                    </div>
                    <div class="shop-name-cart">LDStore</div>
                </div>
            </div>
            <!-- end shop name -->

            <!-- begin detail shopping cart -->
            <div class="container" id="table-cart">
                {% for item in carts %}
                <div class="shopping-cart-detail-box">
                    <div class="product-shopping-cart-card">
                        <div class="wrap-checkbox-img">
                            <div class="checkbox-custom">
                                <!-- <input type="checkbox"></input> -->
                            </div>
                            <div class="product-cart-img" style="background-image: url({{item.product.image.url}});">
                            </div>
                            <div class="product-cart-name"><a href="{% url 'product:productdetail' slug=item.product.slug %}">{{ item.product.name|truncatechars:12 }}</a></div>
                        </div>
                        <div class="product-cart-categories">{{ item.product.category }}</div>
                        <div class="product-cart-price">
                            <!-- <div class="product-cart-old-price">60.000Đ</div> -->
                            <div class="product-cart-old-new-price">{{ item.product.price }}Đ</div>
                        </div>
                        <div class="product-cart-quantity">
                            <div class="product-quantity-wrapper">
                                <span class="product-quantity-btn-minus">
                                    <i class="bx bx-minus"></i>
                                </span>
                                <input type="text" value="{{ item.quantity }}" class="product-quantity"></input>
                                <span class="product-quantity-btn-plus">
                                    <i class="bx bx-plus"></i>
                                </span>
                            </div>
                        </div>
                        <div class="product-cart-total">{{ item.get_total_price }}Đ</div>
                        <div class="product-cart-actions">
                            <a id="remove_item_in_cart" data-product-id ={{ item.product.id }}>
                                Xóa
                            </a></div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- end detail shopping cart -->
            <div class="container">
                <div class="payment-cart">
                    <div class="shop-name-box">
                        <div class="checkbox-custom">
                            
                        </div>
                        <div class="payment-quantity" style="font-weight: 500;">
                               
                        </div>
                    </div>
                    <div class="voucher">LDStore voucher</div>
                    <div class="payment-total" id="payment-total">Tổng thanh toán ({% if carts %}{{ carts|length }}{% else %}0{% endif %}) sản phẩm</div>
                    <div class="payment-price" id="payment-price">{{ cart_price_total }}Đ</div>
                    <div class="buy-btn-cart"><a href='{% url "order:payment" %}'>Mua hàng</a></div>
                </div>

            </div>
            <!-- footer -->
            <!-- end footer -->
            <!-- line-between -->

        </div>
        
        {% include "base/footer.html" %}
        <script src="{% static 'home/js/app.js' %}"></script>
        <script src="{% static 'product/js/product-detail.js' %}"></script>
    </body>
    <script>
        $(document).on('click','#remove_item_in_cart', function(e){
       e.preventDefault();
       const id =$('#remove_item_in_cart').attr('data-product-id');
       $.ajax({
           type:'POST',
           url: '{% url "order:remove_item_in_cart" %}',
           data: {
               id: id,
               csrfmiddlewaretoken: "{{csrf_token}}",
               action: "post",
           },
           success: function(json){
               console.log(json)
               $('#table-cart').load(' #table-cart');
               document.getElementById('payment-total').innerHTML = `Tổng thanh toán (${json.no_item_in_carts}) sản phẩm`;
               document.getElementById('payment-price').innerHTML = `${json.cart_price_total}Đ`;
           },
           error: function(xhr,errmsg,err){
               console.log(xhr);
           }
        });
    })
    </script>